body { 
  font-family: sans-serif; 
  background: #f4f4f4; 
  margin: 0; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.div1 { 
  width: 100%;
  max-width: 1000px;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background: #333; 
  color: white; 
  padding: 1rem; 
  border-radius: 8px; 
  margin-bottom: 30px;
  box-sizing: border-box;
}

.div1 a { 
  color: white; 
  text-decoration: none; 
  margin-left: 15px; 
}

div {
  width: 100%;
  text-align: center;
}


.product-grid { 
  display: flex;     
  flex-wrap: wrap;   
  justify-content: center;  gap: 20px; 
  margin: 0 auto 50px auto; 
  width: 100%;
  max-width: 1200px; 
}

.card { 
  background: white; 
  padding: 15px; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  text-align: center; 
  width: 220px;    
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img { 
  width: 100%;           
  height: 150px;         
  object-fit: contain;   
  background-color: #fff;
  margin-bottom: 10px;
}

.price { 
  font-weight: bold; 
  color: green; 
  margin: 10px 0;
}

button { 
  background: #28a745; 
  color: white; 
  border: none; 
  padding: 10px; 
  cursor: pointer; 
  border-radius: 4px; 
  width: 100%;
}